:root {
    --main_color_dark: #0e1115;
    --second_color_dark: #0174d0;
    --main_color_light: #ffffff;
    --second_color_light: #71c4ff;
    --navy: #0a192f;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

* {
    font-family: sans-serif;
    margin: 0;
}

body {

}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    height: 100vh;
}

.welcome-page {
    background: var(--navy);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 10px 50px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.0);
    color: #FFFFFF;
    z-index: 100;
}

.my-logo {
    outline: #FFFFFF solid 2px;
    border-radius: 50px;
    float: left;
    width: 100px;
    height: 100px;
}

ul {
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    float: right;
    margin: 0;
    display: flex;
    padding: 10px;
}
nav ul li a {
    text-decoration: none;
    text-decoration-style: wavy;
    color: white;
}
li {
    background-color: var(--navy);
    border-radius: 24px;
    padding: 10px;
    margin: 10px;
    outline: #FFFFFF solid 2px;
    text-decoration: none;
}
.about-me {
    background: var(--main_color_light);
    display: flex;
    flex-direction: column;
}

.projects {
    background: var(--main_color_light);
    display: flex;
    flex-direction: column;
}

.project-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project1, .project2, .project3 {
    display: flex;
    flex-direction: column;
    margin: 40px;
    width: 25vw;
    height: 60vh;
    background-color: var(--navy);
    border-radius: 30px;
    align-items: center;
    position: relative;
    color: #FFFFFF;
}

.projects-names{
    padding: 10px;
}

.projects-description {
    margin: 10px;
}

.read-buttons {
    position: absolute;
    bottom: 0;
    margin: 10px
}

.project1 p, .project2 p, .project3 p{
    justify-content: center;
    color: #FFFFFF;
}

/*.popups {*/
/*    display: none;*/
/*}*/

.popups .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popups .popup-content {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 500px;
    height: 300px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: scroll;
    display: none;
}

.popups .popup-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

/*.popups.active {*/
/*    display: flex;*/
/*}*/

.popups.active .overlay {
    display: block;
}

.popups.active .popup-content {
    display: block;
    animation: fadeIn 1s;
}

.contact-me {
    color: white;
    font-size: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px;
    background: var(--navy) ;
}

.contact-me h1 {
    position: relative;
    top: -7vh;
    font-size: 50px;
}

svg {
    display: block;
    padding: 0px;
    font-size: 10em;
}

.contact-icons{
    display: inline-flex;
    padding: 10px;
    font-size: 8em;
}

.custom-shape-divider-bottom-1653169153 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1653169153 svg {
    position: relative;
    display: block;
    width: 100vh;
    min-width: 100%;
    height: 300px;
}

.custom-shape-divider-bottom-1653169153 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1657273773 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1657273773 .shape-fill{
    fill: #FFFFFF;
}

.typewriter h1 {
    font-size: 25px;
    color: #FFFFFF;
    position: relative;
    top: -10vh  ;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

.main-icon {
    padding-bottom: 5%;
    position: relative;
    top: -10vh  ;
}