/* Color variables*/

:root {
    --main_color: #0a192f;
    --main_background_color: #ffffff;
    --font: sans-serif;
}

/* Animations*/

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

* {
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
    max-width: 100%;
}

body {

}

.portfolio {

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    padding: 10px 50px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.0);
    color: var(--main_background_color);
    z-index: 10;
}

.my-logo {
    outline: var(--main_background_color) solid 2px;
    border-radius: 35px;
    float: left;
    width: 70px;
    min-width: 70px;
    min-height: 70px;
    height: 70px;
    margin-top: 10px;
}

ul {
    color: var(--main_background_color);
    text-decoration: none;
    list-style: none;
    float: right;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

@media screen and (max-device-width: 510px) {

    .my-logo {
        transform: scale(0.8);
        padding: 2px;
        margin: 2px;
    }

    ul {
        padding: 2px;
        margin: 2px;
        margin-top: 20px;
    }

    ul li {
        padding: 2px;
        margin: 5px;
    }

    nav {
        padding: 10px 10px;
    }
}

nav ul li a {
    text-decoration: none;
    color: var(--main_background_color);
}

li {
    background-color: var(--main_color);
    border-radius: 24px;
    padding: 10px;
    margin: 10px;
    outline: var(--main_background_color) solid 2px;
    text-decoration: none;
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-page {
    background: var(--main_color);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

.about-me {
    background: var(--main_background_color);
    display: flex;
    flex-direction: column;
}

/* Timeline Container */
.timeline {
    background: var(--main_background_color);
    margin: 20px auto;
    padding: 20px;
}

.b00m {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.my-description {
    width: 300px;
}

/* Outer Layer with the timeline border */
.outer {
    border-left: 2px solid #333;
}

/* Card container */
.card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    background: #333;
    color: gray;
    border-radius: 8px;
    max-width: 400px;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Title of the card */
.title {
    color: var(--main_background_color);
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -39px;
    border: 3px solid var(--main_color);
}

.projects {
    background: var(--main_background_color);
    display: flex;
    flex-direction: column;
}

.project-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project1, .project2, .project3 {
    display: flex;
    flex-direction: column;
    margin: 40px;
    width: 25vw;
    height: 60vh;
    background-color: var(--main_color);
    border-radius: 30px;
    align-items: center;
    position: relative;
    color: #FFFFFF;
}

.projects-names{
    padding: 10px;
}

.projects-description {
    margin: 10px;
}

.read-buttons {
    position: absolute;
    bottom: 0;
    margin: 10px
}

.project1 p, .project2 p, .project3 p{
    justify-content: center;
    color: #FFFFFF;
}

.popups {
    display: none;
}

.popups .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popups .popup-content {
    border-radius: 15px;
    position: relative;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    background: #fff;
    width: 800px;
    height: 400px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: none;
}

.popups .popup-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.popups.active {
    display: block;
    background: transparent;
    border: none;
}


.popups.active .overlay {
    display: block;
}

.popups.active .popup-content {
    transform: translate(60%, 0px);
    animation: fadeIn 2s;
    display: block;
}

.contact-me {
    color: white;
    font-size: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px;
    background: var(--main_color) ;
}

.contact-me h1 {
    position: relative;
    top: -7vh;
    font-size: 50px;
}

svg {
    display: block;
    padding: 0px;
    font-size: 10em;
}

.contact-icons{
    display: inline-flex;
    padding: 10px;
    font-size: 8em;
}

.custom-shape-divider-bottom-1653169153 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow-x: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1653169153 svg {
    position: relative;
    overflow-x: hidden;
    display: block;
    width: 100vw;
    height: 300px;
}

.custom-shape-divider-bottom-1653169153 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1657273773 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow-x: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1657273773 .shape-fill{
    fill: #FFFFFF;
}

.typewriter h1 {
    font-size: 25px;
    color: #FFFFFF;
    position: relative;
    top: -10vh  ;
    font-family: monospace;
    overflow-x: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

.main-icon {
    padding-bottom: 5%;
    position: relative;
    top: -10vh  ;
}